@import '../../styles/helpers';

.input {
    position: relative;

    &_icon {
        &_magnifier {
            &::after {
                content: '';
                .square(25px);
                .contain;
                .img('magnifier.svg');
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
            }
        }
    }

    &__field {
        padding: 0 30px;
        border: none;
        box-sizing: border-box;
        border-radius: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 1;
        display: flex;
        align-items: center;
        width: 100%;
        background: @color-gray;
        box-shadow:
                0px -7px 50px rgba(255, 255, 255, 0.6),
            0px 1px 20px rgba(114, 102, 95, 0.07),
            inset 0px -20px 30px #FFFFFF,
            inset 0px 4px 15px rgba(114, 102, 95, 0.2);
        outline: none;
        font-family: inherit;

        &::placeholder {
            color: #c7c7c7;
        }
    }
}
