.page-results {
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }

    &__search {
        max-width: 500px;
        margin: 0 auto 30px auto;
    }

    &__table-pagination {
        margin-top: 10px;
    }
}
