@import './vars';

.hover(@params) {
    @media @min-desktop {
        &:hover {
            @params();
        }
    }
}

.ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
